<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.peak.detector.peakDetectorSupplier">
      <PeakDetector
            description="This peak detector tries to detect peaks by using ranges from a template."
            id="net.openchrom.xxd.process.supplier.templates.peaks.detector.msd"
            peakDetector="net.openchrom.xxd.process.supplier.templates.peaks.PeakDetector"
            peakDetectorName="Template Peak Detector (MSD)"
            peakDetectorSettings="net.openchrom.xxd.process.supplier.templates.settings.PeakDetectorSettings">
      </PeakDetector>
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.csd.peak.detector.peakDetectorSupplier">
      <PeakDetector
            description="This peak detector tries to detect peaks by using ranges from a template."
            id="net.openchrom.xxd.process.supplier.templates.peaks.detector.csd"
            peakDetector="net.openchrom.xxd.process.supplier.templates.peaks.PeakDetector"
            peakDetectorName="Template Peak Detector (CSD)"
            peakDetectorSettings="net.openchrom.xxd.process.supplier.templates.settings.PeakDetectorSettings">
      </PeakDetector>
   </extension> 
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.identifier.peakIdentifier">
      <PeakIdentificationSupplier
            description="This peak identifier tries to identify peaks by using ranges from a template."
            id="net.openchrom.xxd.process.supplier.templates.peaks.identifier.msd"
            identifier="net.openchrom.xxd.process.supplier.templates.peaks.PeakIdentifierMSD"
            identifierName="Template Peak Identifier (MSD)"
            identifierSettings="net.openchrom.xxd.process.supplier.templates.settings.PeakIdentifierSettings">
      </PeakIdentificationSupplier>
   </extension>   
   <extension
         point="org.eclipse.chemclipse.chromatogram.csd.identifier.peakIdentifier">
      <PeakIdentificationSupplier
            description="This peak identifier tries to identify peaks by using ranges from a template."
            id="net.openchrom.xxd.process.supplier.templates.peaks.identifier.csd"
            identifier="net.openchrom.xxd.process.supplier.templates.peaks.PeakIdentifierCSD"
            identifierName="Template Peak Identifier (CSD)"
            identifierSettings="net.openchrom.xxd.process.supplier.templates.settings.PeakIdentifierSettings">
      </PeakIdentificationSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.quantifier.peakQuantifierSupplier">
      <PeakQuantifierSupplier
            description="This methods sets the ISTD information."
            id="net.openchrom.xxd.process.supplier.templates.peaks.standards.assigner"
            peakQuantifier="net.openchrom.xxd.process.supplier.templates.peaks.StandardsAssigner"
            peakQuantifierName="Peak Standards Assigner (ISTD)"
            peakQuantifierSettings="net.openchrom.xxd.process.supplier.templates.settings.StandardsAssignerSettings">
      </PeakQuantifierSupplier>
      <PeakQuantifierSupplier
            description="This methods sets the ISTD references."
            id="net.openchrom.xxd.process.supplier.templates.peaks.standards.referencer"
            peakQuantifier="net.openchrom.xxd.process.supplier.templates.peaks.StandardsReferencer"
            peakQuantifierName="Peak Standards Referencer (ISTD)"
            peakQuantifierSettings="net.openchrom.xxd.process.supplier.templates.settings.StandardsReferencerSettings">
      </PeakQuantifierSupplier>
      <PeakQuantifierSupplier
            description="This methods compensates quantitation results."
            id="net.openchrom.xxd.process.supplier.templates.peaks.compensation.quantifier"
            peakQuantifier="net.openchrom.xxd.process.supplier.templates.peaks.CompensationQuantifier"
            peakQuantifierName="Peak Compensation Quantifier"
            peakQuantifierSettings="net.openchrom.xxd.process.supplier.templates.settings.CompensationQuantifierSettings">
      </PeakQuantifierSupplier>                   
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.xxd.integrator.peakIntegratorSupplier">
      <PeakIntegratorSupplier
            description="This template peak integrator allows to select integration methods."
            id="net.openchrom.xxd.process.supplier.templates.peakIntegrator"
            integrator="net.openchrom.xxd.process.supplier.templates.peaks.TemplateIntegrator"
            integratorName="Peak Integrator Template"
            integratorSettings="net.openchrom.xxd.process.supplier.templates.settings.PeakIntegrationSettings">
      </PeakIntegratorSupplier>
   </extension>           
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.openchrom.xxd.process.supplier.templates.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
