<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.peak.detector.peakDetectorSupplier">
      <PeakDetector
            description="This peak detector tries to detect peaks by using ranges from a template."
            id="net.openchrom.xxd.process.supplier.templates.peaks.msd"
            peakDetector="net.openchrom.xxd.process.supplier.templates.peaks.PeakDetector"
            peakDetectorName="Template Peak Detector (MSD)">
      </PeakDetector>
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.csd.peak.detector.peakDetectorSupplier">
      <PeakDetector
            description="This peak detector tries to detect peaks by using ranges from a template."
            id="net.openchrom.xxd.process.supplier.templates.peaks.csd"
            peakDetector="net.openchrom.xxd.process.supplier.templates.peaks.PeakDetector"
            peakDetectorName="Template Peak Detector (CSD)">
      </PeakDetector>
   </extension>   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.openchrom.xxd.process.supplier.templates.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
