<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="XIdent-Dev" sequenceNumber="25">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180206163158/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.python.pydev.feature.feature.group" version="0.0.0"/>
<repository location="https://dl.bintray.com/fabioz/pydev/6.3.1"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.chemclipse.thirdpartylibraries.apache.pdfbox.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.thirdpartylibraries.ejml.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.thirdpartylibraries.apache.commons.csv.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.thirdpartylibraries.apache.commons.math.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.thirdpartylibraries.swtchart.feature.feature.group" version="0.0.0"/>
<repository location="https://update.openchrom.net/repositories/chemclipse/latest/3rdparty"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/nebula/releases/1.4.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="net.openchrom.thirdpartylibraries.vectorgraphics2d.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.jzy3d.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.barcode4j.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.orientdb.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.mockito.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.neuroph.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.javassist.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.biojava.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.jhdf5.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.jna.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.jython.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.odfdom.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.cdk.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.easymock.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.jmol.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.jogl.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.groovy.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.rserve.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.netcdf.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.imagej.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.pdfjet.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.jettison.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.xzing.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.lzf.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.matlabcontrol.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.concurrentlinkedhashmap.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.opsin.feature.feature.group" version="0.0.0"/>
<repository location="https://update.openchrom.net/repositories/community/latest/3rdparty"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ease.python.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.modules.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/ease/update/release"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/neon"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.chemclipse.rcp.compilation.testing.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.rcp.compilation.community.feature.feature.group" version="0.0.0"/>
<repository location="https://update.openchrom.net/repositories/chemclipse/latest/platform"/>
</location>
</locations>
</target>
