<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.nmr.processor.scanProcessor">
      <ScanProcessor
            description="This processor applies the Fourier Transformation."
            id="net.openchrom.nmr.processing.supplier.base.fourierTransformation"
            processor="net.openchrom.nmr.processing.supplier.base.core.FourierTransformationProcessor"
            processorName="Fourier Transformation">
      </ScanProcessor>
      <ScanProcessor
            description="This processor applies the phase correction."
            id="net.openchrom.nmr.processing.supplier.base.phaseCorrection"
            processor="net.openchrom.nmr.processing.supplier.base.core.PhaseCorrectionProcessor"
            processorName="Phase Correction">
      </ScanProcessor>
      <ScanProcessor
            description="This processor applies the phase correction."
            id="net.openchrom.nmr.processing.supplier.base.autoPhaseCorrection"
            processor="net.openchrom.nmr.processing.supplier.base.core.AutoPhaseCorrectionProcessor"
            processorName="Auto Phase Correction">
      </ScanProcessor>
      <ScanProcessor
            description="This processor applies the baseline correction."
            id="net.openchrom.nmr.processing.supplier.base.baselineCorrection"
            processor="net.openchrom.nmr.processing.supplier.base.core.BaselineCorrectionProcessor"
            processorName="Baseline Correction">
      </ScanProcessor>
   </extension>

</plugin>
