<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.chemclipse.chromatogram.msd.converter.ui.converterPreferencePage"
            class="net.chemclipse.chromatogram.msd.converter.supplier.cdf.ui.preferences.PreferencePage"
            id="net.chemclipse.chromatogram.msd.converter.supplier.cdf.ui.preferences.converterPreferencePage"
            name="NetCDF MS Converter">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.chemclipse.chromatogram.msd.converter.supplier.cdf.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
