<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="net.openchrom.xxd.processor.supplier.tracecompare.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Trace Compare Settings"
            category="org.eclipse.chemclipse.xxd.process.ui.preferences.processPreferencePage"
            class="net.openchrom.xxd.processor.supplier.tracecompare.ui.preferences.PreferencePage"
            id="net.openchrom.xxd.processor.supplier.tracecompare.ui.preferences.preferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.openchrom.xxd.processor.supplier.tracecompare.ui.editors.EditorProcessor"
            extensions="otc"
            icon="icons/16x16/chromatogram.gif"
            id="net.openchrom.xxd.processor.supplier.tracecompare.ui.editors.editorProcessor"
            name="Trace Compare">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Processors"
            id="org.eclipse.chemclipse.processors">
      </category>
      <wizard
            name="TraceCompare Report"
            icon="icons/16x16/chromatogram.gif"
            category="org.eclipse.chemclipse.processors"
            class="net.openchrom.xxd.processor.supplier.tracecompare.ui.wizards.WizardProcessor"
            id="net.openchrom.xxd.processor.supplier.tracecompare.ui.wizards.WizardProcessor">
      </wizard>
   </extension>       
</plugin>
