<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.wsd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Reads ABIF Sanger Sequencing Trace Files."
            fileExtension=".ab1"
            filterName="ABIF Sanger Sequencing Trace File (*.ab1)"
            id="net.openchrom.wsd.converter.supplier.ab1"
            importConverter="net.openchrom.wsd.converter.supplier.abif.core.ChromatogramImportConverter"
            importMagicNumberMatcher="net.openchrom.wsd.converter.supplier.abif.core.MagicNumberMatcher"
            isExportable="false"
            isImportable="true">
      </ChromatogramSupplier>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.openchrom.wsd.converter.supplier.abif.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
