<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Peak Detector Template"
            category="org.eclipse.chemclipse.chromatogram.msd.peak.detector.ui.preferences.peakDetectorPreferencePage"
            class="net.openchrom.xxd.process.supplier.templates.ui.preferences.PagePeakDetector"
            id="net.openchrom.xxd.process.supplier.templates.ui.preferences.pagePeakDetector">
      </page>
      <page
            name="MSD"
            category="net.openchrom.xxd.process.supplier.templates.ui.preferences.pagePeakDetector"
            class="net.openchrom.xxd.process.supplier.templates.ui.preferences.PagePeakDetectorMSD"
            id="net.openchrom.xxd.process.supplier.templates.ui.preferences.pagePeakDetectorMSD">
      </page>
      <page
            name="CSD"
            category="net.openchrom.xxd.process.supplier.templates.ui.preferences.pagePeakDetector"
            class="net.openchrom.xxd.process.supplier.templates.ui.preferences.PagePeakDetectorCSD"
            id="net.openchrom.xxd.process.supplier.templates.ui.preferences.pagePeakDetectorCSD">
      </page>            
   </extension>
</plugin>
