<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Template Processor"
            category="org.eclipse.chemclipse.xxd.process.ui.preferences.processPreferencePage"
            class="net.openchrom.xxd.process.supplier.templates.ui.preferences.PreferencePage"
            id="net.openchrom.xxd.process.supplier.templates.ui.preferences.preferencePage">
      </page>         
      <page
            name="Peak Detector Template"
            category="org.eclipse.chemclipse.chromatogram.msd.peak.detector.ui.preferences.peakDetectorPreferencePage"
            class="net.openchrom.xxd.process.supplier.templates.ui.preferences.PagePeakDetector"
            id="net.openchrom.xxd.process.supplier.templates.ui.preferences.pagePeakDetector">
      </page>
      <page
            name="MSD"
            category="net.openchrom.xxd.process.supplier.templates.ui.preferences.pagePeakDetector"
            class="net.openchrom.xxd.process.supplier.templates.ui.preferences.PagePeakDetectorMSD"
            id="net.openchrom.xxd.process.supplier.templates.ui.preferences.pagePeakDetectorMSD">
      </page>
      <page
            name="CSD"
            category="net.openchrom.xxd.process.supplier.templates.ui.preferences.pagePeakDetector"
            class="net.openchrom.xxd.process.supplier.templates.ui.preferences.PagePeakDetectorCSD"
            id="net.openchrom.xxd.process.supplier.templates.ui.preferences.pagePeakDetectorCSD">
      </page>
      <page
            name="Peak Identifier Template (MSD)"
            category="org.eclipse.chemclipse.chromatogram.msd.identifier.ui.preferences.identifierPreferencePage"
            class="net.openchrom.xxd.process.supplier.templates.ui.preferences.PagePeakIdentifierMSD"
            id="net.openchrom.xxd.process.supplier.templates.ui.preferences.pagePeakIdentifierMSD">
      </page>
      <page
            name="Peak Identifier Template (CSD)"
            category="org.eclipse.chemclipse.chromatogram.csd.identifier.ui.preferences.preferencePage"
            class="net.openchrom.xxd.process.supplier.templates.ui.preferences.PagePeakIdentifierCSD"
            id="net.openchrom.xxd.process.supplier.templates.ui.preferences.pagePeakIdentifierCSD">
      </page>        
      <page
            name="Standards Assigner (ISTD)"
            category="org.eclipse.chemclipse.chromatogram.msd.quantitation.ui.preferences.quantifierPreferencePage"
            class="net.openchrom.xxd.process.supplier.templates.ui.preferences.PageStandardsAssigner"
            id="net.openchrom.xxd.process.supplier.templates.ui.preferences.pageStandardsAssigner">
      </page>
      <page
            name="Standards Referencer (ISTD)"
            category="org.eclipse.chemclipse.chromatogram.msd.quantitation.ui.preferences.quantifierPreferencePage"
            class="net.openchrom.xxd.process.supplier.templates.ui.preferences.PageStandardsReferencer"
            id="net.openchrom.xxd.process.supplier.templates.ui.preferences.pageStandardsReferencer">
      </page>
      <page
            name="Peak Integrator Template"
            category="org.eclipse.chemclipse.chromatogram.xxd.integrator.ui.preferences.integratorPreferencePage"
            class="net.openchrom.xxd.process.supplier.templates.ui.preferences.PagePeakIntegrator"
            id="net.openchrom.xxd.process.supplier.templates.ui.preferences.pagePeakIntegrator">
      </page>
      <page
            name="Compensation Quantifier (ISTD)"
            category="org.eclipse.chemclipse.chromatogram.msd.quantitation.ui.preferences.quantifierPreferencePage"
            class="net.openchrom.xxd.process.supplier.templates.ui.preferences.PageCompensationQuantifier"
            id="net.openchrom.xxd.process.supplier.templates.ui.preferences.pageCompensationQuantifier">
      </page>
      <page
            name="Standards Extractor (ISTD)"
            category="org.eclipse.chemclipse.chromatogram.msd.quantitation.ui.preferences.quantifierPreferencePage"
            class="net.openchrom.xxd.process.supplier.templates.ui.preferences.PageStandardsExtractor"
            id="net.openchrom.xxd.process.supplier.templates.ui.preferences.pageStandardsExtractor">
      </page>
      <page
            name="Peak Transfer"
            category="org.eclipse.chemclipse.chromatogram.msd.peak.detector.ui.preferences.peakDetectorPreferencePage"
            class="net.openchrom.xxd.process.supplier.templates.ui.preferences.PagePeakTransfer"
            id="net.openchrom.xxd.process.supplier.templates.ui.preferences.pagePeakTransfer">
      </page>                                             
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.peak.detector.peakDetectorSupplier">
      <PeakDetector
            description="This is the template UI peak detector (MSD)."
            id="net.openchrom.xxd.process.supplier.templates.ui.msd"
            peakDetector="net.openchrom.xxd.process.supplier.templates.ui.core.PeakDetectorMSD"
            peakDetectorName="Template Peak Detector UI (MSD)"
            peakDetectorSettings="net.openchrom.xxd.process.supplier.templates.settings.PeakDetectorSettings">
      </PeakDetector>
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.csd.peak.detector.peakDetectorSupplier">
      <PeakDetector
            description="This is the template UI peak detector (CSD)."
            id="net.openchrom.xxd.process.supplier.templates.ui.csd"
            peakDetector="net.openchrom.xxd.process.supplier.templates.ui.core.PeakDetectorCSD"
            peakDetectorName="Template Peak Detector UI (CSD)"
            peakDetectorSettings="net.openchrom.xxd.process.supplier.templates.settings.PeakDetectorSettings">
      </PeakDetector>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="net.openchrom.xxd.process.supplier.templates.settings.PeakDetectorSettings"
            class="net.openchrom.xxd.process.supplier.templates.ui.adapter.PeakDetectorSettingsAdapterFactory">
         <adapter
               type="org.eclipse.chemclipse.ux.extension.xxd.ui.methods.SettingsUIProvider">
         </adapter>
      </factory>
      <factory
            adaptableType="net.openchrom.xxd.process.supplier.templates.settings.PeakIdentifierSettings"
            class="net.openchrom.xxd.process.supplier.templates.ui.adapter.PeakIdentifierSettingsAdapterFactory">
         <adapter
               type="org.eclipse.chemclipse.ux.extension.xxd.ui.methods.SettingsUIProvider">
         </adapter>
      </factory>
   </extension>      
</plugin>
