<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Template Processor"
            category="org.eclipse.chemclipse.chromatogram.msd.process.ui.preferences.processPreferencePage"
            class="net.openchrom.xxd.process.supplier.templates.ui.preferences.PreferencePage"
            id="net.openchrom.xxd.process.supplier.templates.ui.preferences.preferencePage">
      </page>
      <page
            name="Peak Detector List (MSD)"
            category="net.openchrom.xxd.process.supplier.templates.ui.preferences.preferencePage"
            class="net.openchrom.xxd.process.supplier.templates.ui.preferences.PagePeakDetectorMSD"
            id="net.openchrom.xxd.process.supplier.templates.ui.preferences.pagePeakDetectorMSD">
      </page>
      <page
            name="Peak Detector List (CSD)"
            category="net.openchrom.xxd.process.supplier.templates.ui.preferences.preferencePage"
            class="net.openchrom.xxd.process.supplier.templates.ui.preferences.PagePeakDetectorCSD"
            id="net.openchrom.xxd.process.supplier.templates.ui.preferences.pagePeakDetectorCSD">
      </page>            
   </extension>
</plugin>
