<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.pcr.converter.plateSupplier">
      <PlateSupplier
            description="Exports PCR Plate Data"
            exportConverter="net.openchrom.pcr.report.supplier.misc.core.PCRExportConverter"
            fileExtension=".txt"
            fileName=""
            filterName="PCR Plate Report (*.txt)"
            id="net.openchrom.pcr.report.supplier.misc.txt"
            importConverter="net.openchrom.pcr.report.supplier.misc.core.PCRImportConverter"
            importMagicNumberMatcher="net.openchrom.pcr.report.supplier.misc.core.MagicNumberMatcher"
            isExportable="true"
            isImportable="false">
      </PlateSupplier>      
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.openchrom.pcr.report.supplier.misc.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
