<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.msd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Exports Chromatograms to PDF format."
            exportConverter="net.openchrom.xxd.converter.supplier.pdf.converter.ChromatogramExportConverter"
            fileExtension=".pdf"
            filterName="PDF Chromatogram (*.pdf)"
            id="net.openchrom.xxd.converter.supplier.pdf"
            importConverter="net.openchrom.xxd.converter.supplier.pdf.converter.ChromatogramImportConverter"
            importMagicNumberMatcher="net.openchrom.xxd.converter.supplier.pdf.converter.MagicNumberMatcher"
            isExportable="true"
            isImportable="false">
      </ChromatogramSupplier>
   </extension>
</plugin>