openchrom/plugins/net.openchrom.chromatogram.msd.identifier.supplier.cdk.fragment.test/bin/*
openchrom/plugins/net.openchrom.chromatogram.msd.identifier.supplier.cdk.ui/bin/*
openchrom/plugins/net.openchrom.chromatogram.msd.identifier.supplier.cdk/bin/*
openchrom/plugins/net.openchrom.chromatogram.msd.identifier.supplier.cdk.fragment.i18n/bin/*
openchrom/plugins/net.openchrom.chromatogram.msd.identifier.supplier.cdk.ui.fragment.i18n/bin/*
openchrom/plugins/net.openchrom.chromatogram.msd.identifier.supplier.cdk.ui.fragment.test/bin/*
openchrom/sites/net.openchrom.chromatogram.msd.identifier.supplier.cdk.updateSite/artifacts.jar
openchrom/sites/net.openchrom.chromatogram.msd.identifier.supplier.cdk.updateSite/content.jar
openchrom/sites/net.openchrom.chromatogram.msd.identifier.supplier.cdk.updateSite/features/
openchrom/sites/net.openchrom.chromatogram.msd.identifier.supplier.cdk.updateSite/plugins/
openchrom/features/net.openchrom.chromatogram.msd.identifier.supplier.cdk.feature/target/
openchrom/plugins/net.openchrom.chromatogram.msd.identifier.supplier.cdk.ui/target/
openchrom/plugins/net.openchrom.chromatogram.msd.identifier.supplier.cdk/target/
openchrom/sites/net.openchrom.chromatogram.msd.identifier.supplier.cdk.updateSite/target/
openchrom/plugins/net.openchrom.chromatogram.msd.identifier.supplier.cdk.fragment.test/Openchrom.log
openchrom/plugins/net.openchrom.chromatogram.msd.identifier.supplier.cdk.fragment.test/Openchrom*.log*
openchrom/plugins/net.openchrom.chromatogram.msd.identifier.supplier.cdk.fragment.test/testData/files/export/*.png
