<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.wsd.converter.ui.converterPreferencePage"
            class="net.openchrom.wsd.converter.supplier.abif.ui.preferences.PreferencePage"
            id="net.openchrom.wsd.converter.supplier.abif.ui.preferences.preferencePage"
            name="ABIF Import Converter">
      </page>
   </extension>
</plugin>
