<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.wsd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Reads and writes Analytical Information Markup Language Chromatograms"
            exportConverter="net.openchrom.wsd.converter.supplier.animl.converter.ChromatogramExportConverter"
            fileExtension=".animl"
            filterName="AnIML UV-Vis Chromatogram (*.animl)"
            id="net.openchrom.wsd.converter.supplier.animl.chromatogram"
            importContentMatcher="net.openchrom.wsd.converter.supplier.animl.converter.FileContentMatcher"
            importConverter="net.openchrom.wsd.converter.supplier.animl.converter.ChromatogramImportConverter"
            importMagicNumberMatcher="net.openchrom.wsd.converter.supplier.animl.converter.MagicNumberMatcher"
            isExportable="true"
            isImportable="true">
      </ChromatogramSupplier>
   </extension>
</plugin>
