<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="net.openchrom.msd.process.supplier.cms.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
      		category="org.eclipse.chemclipse.xxd.process.ui.preferences.processPreferencePage"
            class="net.openchrom.msd.process.supplier.cms.ui.preferences.PreferencePage"
            id="net.openchrom.msd.process.supplier.cms.ui.preferences.preferencePage"
            name="CMS Process">
      </page>          
   </extension> 
</plugin>
