<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.converter.ui.converterPreferencePage"
            class="net.openchrom.xxd.converter.supplier.animl.ui.preferences.PreferencePage"
            id="net.openchrom.xxd.converter.supplier.animl.ui.preferences.converterPreferencePage"
            name="AnIML Converter">
      </page>
   </extension>
   <extension
         point="org.eclipse.chemclipse.xxd.process.ui.menu.icon">
      <icon
            class="net.openchrom.xxd.converter.supplier.animl.ui.icon.MenuIcon"
            id="net.openchrom.msd.converter.supplier.animl.chromatogram">
      </icon>
      <icon
            class="net.openchrom.xxd.converter.supplier.animl.ui.icon.MenuIcon"
            id="net.openchrom.msd.converter.supplier.animl.chromatogram">
      </icon>
      <icon
            class="net.openchrom.xxd.converter.supplier.animl.ui.icon.MenuIcon"
            id="net.openchrom.msd.converter.supplier.animl.chromatogram">
      </icon>
   </extension>
</plugin>
