<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.wsd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Reads Generalized Analytical Markup Language Chromatograms"
            fileExtension=".gaml"
            filterName="GAML WSD Chromatogram (*.gaml)"
            id="net.openchrom.wsd.converter.supplier.gaml.chromatogram"
            importConverter="net.openchrom.wsd.converter.supplier.gaml.converter.ChromatogramImportConverter"
            importMagicNumberMatcher="net.openchrom.wsd.converter.supplier.gaml.converter.MagicNumberMatcher"
            isExportable="false"
            isImportable="true">
      </ChromatogramSupplier>
   </extension>
</plugin>
