<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.swtchart.extensions.menuitems">
      <MenuItemSupplier
            MenuEntry="net.openchrom.swtchart.extension.export.vectorgraphics.core.SVGExportHandler">
      </MenuItemSupplier>
      <MenuItemSupplier
            MenuEntry="net.openchrom.swtchart.extension.export.vectorgraphics.core.EPSExportHandler">
      </MenuItemSupplier>
      <MenuItemSupplier
            MenuEntry="net.openchrom.swtchart.extension.export.vectorgraphics.core.PDFExportHandler">
      </MenuItemSupplier>            
   </extension>
</plugin>
