<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.identifier.peakIdentifier">
      <PeakIdentificationSupplier
            description="This identifier calculates a SMILES formula for each peak identification entry."
            id="org.eclipse.chemclipse.chromatogram.msd.identifier.supplier.cdk"
            identifier="net.openchrom.chromatogram.msd.identifier.supplier.cdk.core.PeakIdentifier"
            identifierName="SMILES Peak Identifier">
      </PeakIdentificationSupplier>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.openchrom.chromatogram.msd.identifier.supplier.cdk.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
