<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.chemclipse.msd.converter.databaseSupplier">
      <DatabaseSupplier
            description="Writes MicrobeNet MALDI XML files."
            exportConverter="net.openchrom.msd.converter.supplier.microbenet.converter.DatabaseExportConverter"
            importConverter="net.openchrom.msd.converter.supplier.microbenet.converter.DatabaseImportConverter"
            importMagicNumberMatcher="net.openchrom.msd.converter.supplier.microbenet.converter.MagicNumberMatcher"            
            fileExtension=".xml"
            filterName="MicrobeNet MALDI (*.xml)"
            id="net.openchrom.msd.converter.supplier.microbenet"
            isExportable="true"
            isImportable="false">
      </DatabaseSupplier>
   </extension>
</plugin>