<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.msd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Exports Chromatograms to PDF format."
            exportConverter="net.openchrom.msd.converter.supplier.pdf.converter.ChromatogramExportConverter"
            fileExtension=".pdf"
            filterName="PDF Chromatogram (*.pdf)"
            id="net.openchrom.msd.converter.supplier.pdf"
            importConverter="net.openchrom.msd.converter.supplier.pdf.converter.ChromatogramImportConverter"
            isExportable="true"
            isImportable="false">
      </ChromatogramSupplier>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.openchrom.msd.converter.supplier.pdf.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
