<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.msd.converter.databaseSupplier">
      <DatabaseSupplier
            description="Reads and Writes Spectra Bank / SPECLUST libararies."
            fileExtension=".zip"
            filterName="Spectra Bank / SPECLUST (*.zip)"
            id="org.eclipse.chemclipse.msd.converter.supplier.peaks"
            importConverter="net.openchrom.msd.converter.supplier.peaks.converter.DatabaseImportConverter"
            importMagicNumberMatcher="net.openchrom.msd.converter.supplier.peaks.converter.MagicNumberMatcher"
            exportConverter="net.openchrom.msd.converter.supplier.peaks.converter.DatabaseExportConverter"
            isExportable="true"
            isImportable="true">
      </DatabaseSupplier>
   </extension>
</plugin>
