<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.msd.peak.detector.ui.preferences.peakDetectorPreferencePage"
            class="org.eclipse.chemclipse.chromatogram.msd.peak.detector.supplier.amdis.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.chromatogram.msd.peak.detector.supplier.amdis.ui.preferences.amdisPeakDetectorPreferencePage"
            name="%amdisExternal">
      </page>
   </extension>
   <extension
         point="org.eclipse.chemclipse.xxd.process.ui.menu.icon">
      <icon
            class="org.eclipse.chemclipse.chromatogram.msd.peak.detector.supplier.amdis.ui.icon.FileMenuIcon"
            id="org.eclipse.chemclipse.chromatogram.msd.peak.detector.supplier.amdis.elu">
      </icon>
      <icon
            class="org.eclipse.chemclipse.chromatogram.msd.peak.detector.supplier.amdis.ui.icon.AmbiguousPeakRemoverFilterMenuIcon"
            id="org.eclipse.chemclipse.chromatogram.msd.peak.detector.supplier.amdis.filter.AmbiguousPeakRemoverFilter">
      </icon>
      <icon
            class="org.eclipse.chemclipse.chromatogram.msd.peak.detector.supplier.amdis.ui.icon.DeconvolutionMenuIcon"
            id="org.eclipse.chemclipse.chromatogram.msd.peak.detector.supplier.amdis">
      </icon>
   </extension>
</plugin>
