<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="OpenChrom Analytics Edition" sequenceNumber="42">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.rcp.compilation.community.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.rcp.compilation.testing.feature.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/chemclipse/integration/develop/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="net.openchrom.thirdpartylibraries.jhdf5.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.pdfjet.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.cdk.feature.feature.group" version="0.0.0"/>
<repository location="https://update.openchrom.net/repositories/community/latest/3rdparty"/>
</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>us.hebi.matlab.mat</groupId>
				<artifactId>mfl-core</artifactId>
				<version>0.5.8</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="org.biojava" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>org.biojava</groupId>
				<artifactId>biojava-core</artifactId>
				<version>6.0.5</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.biojava</groupId>
				<artifactId>biojava-ws</artifactId>
				<version>6.0.5</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>org.xerial</groupId>
				<artifactId>sqlite-jdbc</artifactId>
				<version>3.40.0.0</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>de.erichseifert.vectorgraphics2d</groupId>
				<artifactId>VectorGraphics2D</artifactId>
				<version>0.13</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>com.ning</groupId>
				<artifactId>compress-lzf</artifactId>
				<version>1.0.4</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>org.apache.commons</groupId>
				<artifactId>commons-imaging</artifactId>
				<version>1.0-alpha2</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>com.github.fracpete</groupId>
				<artifactId>jcamp-dx</artifactId>
				<version>0.9.7</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile,runtime" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>uk.ac.cam.ch.opsin</groupId>
				<artifactId>opsin-core</artifactId>
				<version>2.7.0</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="infinite" includeDependencyScopes="compile,runtime" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>org.codehaus.woodstox</groupId>
				<artifactId>stax2-api</artifactId>
				<version>4.2.1</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>com.fasterxml.woodstox</groupId>
				<artifactId>woodstox-core</artifactId>
				<version>6.2.7</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>dk.brics</groupId>
				<artifactId>automaton</artifactId>
				<version>1.12-1</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>org.apache.logging.log4j</groupId>
				<artifactId>log4j-api</artifactId>
				<version>2.18.0</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="edu.ucar" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>edu.ucar</groupId>
				<artifactId>cdm-core</artifactId>
				<version>5.5.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>edu.ucar</groupId>
				<artifactId>httpservices</artifactId>
				<version>5.5.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>edu.ucar</groupId>
				<artifactId>udunits</artifactId>
				<version>5.5.3</version>
				<type>jar</type>
			</dependency>
		</dependencies>
		<repositories>
			<repository>
				<id>Unidata All</id>
				<url>https://artifacts.unidata.ucar.edu/repository/unidata-all/</url>
			</repository>
		</repositories>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>com.beust</groupId>
				<artifactId>jcommander</artifactId>
				<version>1.82</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>com.google.protobuf</groupId>
				<artifactId>protobuf-java</artifactId>
				<version>3.21.5</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>com.google.re2j</groupId>
				<artifactId>re2j</artifactId>
				<version>1.7</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>joda-time</groupId>
				<artifactId>joda-time</artifactId>
				<version>2.10.14</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>org.jdom</groupId>
				<artifactId>jdom2</artifactId>
				<version>2.0.6.1</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>javax.vecmath</groupId>
				<artifactId>vecmath</artifactId>
				<version>1.5.2</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
</locations>
</target>