<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.msd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Reads an writes ANDI/AIA CDF Chromatograms."
            exportConverter="net.openchrom.msd.converter.supplier.cdf.converter.ChromatogramExportConverter"
            fileExtension=".CDF"
            filterName="ANDI/AIA CDF Chromatogram (*.CDF)"
            id="net.openchrom.msd.converter.supplier.cdf"
            importContentMatcher="net.openchrom.msd.converter.supplier.cdf.converter.FileContentMatcher"
            importConverter="net.openchrom.msd.converter.supplier.cdf.converter.ChromatogramImportConverter"
            importMagicNumberMatcher="net.openchrom.msd.converter.supplier.cdf.converter.MagicNumberMatcher"
            isExportable="true"
            isImportable="true">
      </ChromatogramSupplier>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.openchrom.msd.converter.supplier.cdf.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
