<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.chemclipse.chromatogram.msd.comparison.massSpectrumComparisonSupplier">
      <ComparisonSupplier
            comparatorName="PBM"
            description="This comparator calculates the similarity between two mass spectra with the pbm algorithm."
            id="net.openchrom.chromatogram.msd.comparison.supplier.pbm"
            massSpectrumComparator="net.openchrom.chromatogram.msd.comparison.supplier.pbm.comparator.PBMMassSpectrumComparator">
      </ComparisonSupplier>
   </extension>

</plugin>
