<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.pcr.converter.ui.converterPreferencePage"
            class="net.openchrom.pcr.report.supplier.misc.ui.preferences.PreferencePage"
            id="net.openchrom.pcr.report.supplier.misc.ui.preferences.converterPreferencePage"
            name="PCR Export Converter">
      </page>
   </extension>
</plugin>
