<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.msd.classifier.ui.preferences.classifierPreferencePage"
            class="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.PreferencePage"
            id="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePage"
            name="Ratio Classifier">
      </page>
      <page
            category="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePage"
            class="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.PreferencePageTrace"
            id="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePageTrace"
            name="Trace Ratios">
      </page>
      <page
            category="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePage"
            class="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.PreferencePageTime"
            id="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePageTime"
            name="Time Ratios">
      </page>  
      <page
            category="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePage"
            class="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.PreferencePageQuant"
            id="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePageQuant"
            name="Quant Ratio Classifier">
      </page> 
      <page
            category="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePage"
            class="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.PreferencePageQual"
            id="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePageQual"
            name="Quality Ratio Classifier">
      </page>                       
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="net.openchrom.xxd.classifier.supplier.ratios.model.IPeakRatios"
            class="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.PeakRatiosAdapterFactory">
         <adapter
               type="org.eclipse.jface.viewers.IStructuredContentProvider">
         </adapter>
         <adapter
               type="org.eclipse.jface.viewers.ITableLabelProvider">
         </adapter>
         <adapter
               type="org.eclipse.chemclipse.support.ui.swt.columns.ColumnDefinitionProvider">
         </adapter>
         <adapter
               type="org.eclipse.jface.viewers.ISelectionChangedListener">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="net.openchrom.xxd.classifier.supplier.ratios.model.qual.QualRatios"
            class="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.QualRatiosAdapterFactory">
         <adapter
               type="org.eclipse.jface.viewers.IStructuredContentProvider">
         </adapter>
         <adapter
               type="org.eclipse.jface.viewers.ITableLabelProvider">
         </adapter>
         <adapter
               type="org.eclipse.chemclipse.support.ui.swt.columns.ColumnDefinitionProvider">
         </adapter>
         <adapter
               type="org.eclipse.jface.viewers.ISelectionChangedListener">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="net.openchrom.xxd.classifier.supplier.ratios.settings.TraceRatioSettings"
            class="net.openchrom.xxd.classifier.supplier.ratios.ui.adapter.TraceRatioSettingsAdapterFactory">
         <adapter
               type="org.eclipse.chemclipse.ux.extension.xxd.ui.methods.SettingsUIProvider">
         </adapter>
      </factory>
      <factory
            adaptableType="net.openchrom.xxd.classifier.supplier.ratios.settings.TimeRatioSettings"
            class="net.openchrom.xxd.classifier.supplier.ratios.ui.adapter.TimeRatioSettingsAdapterFactory">
         <adapter
               type="org.eclipse.chemclipse.ux.extension.xxd.ui.methods.SettingsUIProvider">
         </adapter>
      </factory>          
   </extension>
</plugin>