<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="net.openchrom.xxd.classifier.supplier.ratios.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.msd.classifier.ui.preferences.classifierPreferencePage"
            class="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.PreferencePage"
            id="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePage"
            name="Ratio Classifier">
      </page>
      <page
            category="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePage"
            class="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.PreferencePageTrace"
            id="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePageTrace"
            name="Trace Ratio Classifier">
      </page>
      <page
            category="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePage"
            class="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.PreferencePageTime"
            id="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePageTime"
            name="Time Ratio Classifier">
      </page>  
      <page
            category="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePage"
            class="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.PreferencePageQuant"
            id="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePageQuant"
            name="Quant Ratio Classifier">
      </page> 
      <page
            category="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePage"
            class="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.PreferencePageQual"
            id="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePageQual"
            name="Quality Ratio Classifier">
      </page>                       
   </extension>
   <extension
         point="org.eclipse.chemclipse.ux.extension.ui.measurementResultVisualization">
      <MeasurementResultVisualization
            CellColorProvider="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.PeakRatioColorProvider"
            Comparator="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.trace.TraceRatioTableComparator"
            ContentProvider="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.PeakRatioContentProvider"
            Identifier="net.openchrom.xxd.classifier.supplier.ratios.trace"
            LabelProvider="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.trace.TraceRatioLabelProvider"
            SelectionListener="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.PeakRatioSelectionListener"
            Titles="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.trace.TraceRatioResultTitles">
      </MeasurementResultVisualization>
   </extension>
   <extension
         point="org.eclipse.chemclipse.ux.extension.ui.measurementResultVisualization">
      <MeasurementResultVisualization
            CellColorProvider="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.PeakRatioColorProvider"
            Comparator="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.time.TimeRatioTableComparator"
            ContentProvider="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.PeakRatioContentProvider"
            Identifier="net.openchrom.xxd.classifier.supplier.ratios.time"
            LabelProvider="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.time.TimeRatioLabelProvider"
            SelectionListener="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.PeakRatioSelectionListener"
            Titles="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.time.TimeRatioResultTitles">
      </MeasurementResultVisualization>
   </extension>
   <extension
         point="org.eclipse.chemclipse.ux.extension.ui.measurementResultVisualization">
      <MeasurementResultVisualization
            CellColorProvider="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.PeakRatioColorProvider"
            Comparator="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.quant.QuantRatioTableComparator"
            ContentProvider="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.PeakRatioContentProvider"
            Identifier="net.openchrom.xxd.classifier.supplier.ratios.quant"
            LabelProvider="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.quant.QuantRatioLabelProvider"
            SelectionListener="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.PeakRatioSelectionListener"
            Titles="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.quant.QuantRatioResultTitles">
      </MeasurementResultVisualization>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="net.openchrom.xxd.classifier.supplier.ratios.model.IPeakRatios"
            class="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.PeakRatiosAdapterFactory">
         <adapter
               type="org.eclipse.jface.viewers.IStructuredContentProvider">
         </adapter>
         <adapter
               type="org.eclipse.jface.viewers.ITableLabelProvider">
         </adapter>
         <adapter
               type="org.eclipse.chemclipse.support.ui.swt.columns.ColumnDefinitionProvider">
         </adapter>
         <adapter
               type="org.eclipse.jface.viewers.ISelectionChangedListener">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="net.openchrom.xxd.classifier.supplier.ratios.model.qual.QualRatios"
            class="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.QualRatiosAdapterFactory">
         <adapter
               type="org.eclipse.jface.viewers.IStructuredContentProvider">
         </adapter>
         <adapter
               type="org.eclipse.jface.viewers.ITableLabelProvider">
         </adapter>
         <adapter
               type="org.eclipse.chemclipse.support.ui.swt.columns.ColumnDefinitionProvider">
         </adapter>
         <adapter
               type="org.eclipse.jface.viewers.ISelectionChangedListener">
         </adapter>
      </factory>
   </extension>   
</plugin>
