<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="net.openchrom.xxd.classifier.supplier.ratios.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.msd.classifier.ui.preferences.classifierPreferencePage"
            class="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.PreferencePage"
            id="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePage"
            name="Ratio Classifier">
      </page>
      <page
            category="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePage"
            class="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.PreferencePageTraceRatio"
            id="net.openchrom.xxd.classifier.supplier.ratios.ui.preferences.preferencePageTraceRatio"
            name="Trace Ratio Classifier">
      </page>      
   </extension>
   <extension
         point="org.eclipse.chemclipse.ux.extension.ui.measurementResultVisualization">
      <MeasurementResultVisualization
            Comparator="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.TraceRatioTableComparator"
            ContentProvider="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.TraceRatioContentProvider"
            Identifier="net.openchrom.xxd.classifier.supplier.ratios.traceratio"
            LabelProvider="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.TraceRatioLabelProvider"
            Titles="net.openchrom.xxd.classifier.supplier.ratios.ui.internal.provider.TraceRatioResultTitles">
      </MeasurementResultVisualization>
   </extension>
</plugin>
