<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.xxd.identifier.targetIdentifier">
      <TargetIdentificationSupplier
            description="Links to the corresponding CAS Common Chemistry database entry."
            id="net.openchrom.xxd.identifier.supplier.cas.common.chemistry.identifier"
            identifierName="CAS Common Chemistry"
            targetURL="net.openchrom.xxd.identifier.supplier.cas.identifier.CommonChemistryTargetIdentifier">
      </TargetIdentificationSupplier>
   </extension>
</plugin>
