<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.xir.converter.scanSupplier">
      <ScanSupplier
            description="Reads Generalized Analytical Markup Language Scans."
            exportConverter="net.openchrom.xir.converter.supplier.gaml.converter.ScanExportConverter"
            fileExtension=".gaml"
            filterName="IR Spectroscopy (*.gaml)"
            id="net.openchrom.xir.converter.supplier.gaml"
            importConverter="net.openchrom.xir.converter.supplier.gaml.converter.ScanImportConverter"
            importMagicNumberMatcher="net.openchrom.xir.converter.supplier.gaml.converter.MagicNumberMatcher"
            isExportable="false"
            isImportable="true">
      </ScanSupplier>
   </extension>
</plugin>