<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.msd.converter.databaseSupplier">
      <DatabaseSupplier
            description="Reads Bruker Biotyper Main Spectra Projections (btmsp) libararies."
            fileExtension=".btmsp"
            filterName="Bruker Biotyper Main Spectra Projections (*.btmsp)"
            id="org.eclipse.chemclipse.msd.converter.supplier.btmsp"
            importConverter="net.openchrom.msd.converter.supplier.btmsp.converter.DatabaseImportConverter"
            importMagicNumberMatcher="net.openchrom.msd.converter.supplier.btmsp.converter.MagicNumberMatcherDatabase"
            exportConverter="net.openchrom.msd.converter.supplier.btmsp.converter.DatabaseExportConverter"
            isExportable="false"
            isImportable="true">
      </DatabaseSupplier>
   </extension>
</plugin>
