<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="net.openchrom.feature.branding.contact"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

   <extension id="net.openchrom.feature.branding.pgpkeys"
         point="org.eclipse.equinox.p2.engine.pgp">
         <trustedKeys path="trustedkeys/chemclipse.asc"/>
   </extension>
   <extension id="net.openchrom.feature.branding.pgpkeys"
         point="org.eclipse.equinox.p2.engine.pgp">
         <trustedKeys path="trustedkeys/lablicate.asc"/>
   </extension>
   <extension id="net.openchrom.feature.branding.pgpkeys"
         point="org.eclipse.equinox.p2.engine.pgp">
         <trustedKeys path="trustedkeys/linuxtools.asc"/>
   </extension>
   <extension id="net.openchrom.feature.branding.pgpkeys"
         point="org.eclipse.equinox.p2.engine.pgp">
         <trustedKeys path="trustedkeys/orbit.asc"/>
   </extension>
   <extension id="net.openchrom.feature.branding.pgpkeys"
         point="org.eclipse.equinox.p2.engine.pgp">
         <trustedKeys path="trustedkeys/simrel.asc"/>
   </extension>
   <extension id="net.openchrom.feature.branding.pgpkeys"
         point="org.eclipse.equinox.p2.engine.pgp">
         <trustedKeys path="trustedkeys/m2e.asc"/>
   </extension>
   <extension id="net.openchrom.feature.branding.pgpkeys"
         point="org.eclipse.equinox.p2.engine.pgp">
         <trustedKeys path="trustedkeys/oomph.asc"/>
   </extension>
   <extension id="net.openchrom.feature.branding.pgpkeys"
         point="org.eclipse.equinox.p2.engine.pgp">
         <trustedKeys path="trustedkeys/platform.asc"/>
   </extension>

</plugin>
