<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.chemclipse.chromatogram.msd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Reads an writes ANDI/AIA CDF Chromatograms."
            exportConverter="net.chemclipse.chromatogram.msd.converter.supplier.cdf.converter.CDFChromatogramExportConverter"
            fileExtension=".CDF"
            filterName="ANDI/AIA CDF Chromatogram (*.CDF)"
            id="net.chemclipse.chromatogram.msd.converter.supplier.cdf"
            importConverter="net.chemclipse.chromatogram.msd.converter.supplier.cdf.converter.CDFChromatogramImportConverter"
            isExportable="true"
            isImportable="true">
      </ChromatogramSupplier>
   </extension>

</plugin>
