<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="net.openchrom.chromatogram.msd.identifier.supplier.cdk.ui.modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.openchrom.rcp.app.ui.preferences.settingsPreferencePage"
            class="net.openchrom.chromatogram.msd.identifier.supplier.cdk.ui.preferences.PreferencePage"
            id="net.openchrom.chromatogram.msd.identifier.supplier.cdk.ui.preferences.preferencePage"
            name="CDK Identifier Support">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.openchrom.chromatogram.msd.identifier.supplier.cdk.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc_plugin.xml">
      </toc>
   </extension>   

</plugin>
