<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.msd.converter.ui.converterPreferencePage"
            class="net.openchrom.msd.converter.supplier.pkf.ui.preferences.PreferencePage"
            id="net.openchrom.msd.converter.supplier.pkf.ui.preferences.converterPreferencePage"
            name="MicrobeMS (Matlab™) Peak List Files .pkf Format Converter">
      </page>
   </extension>
</plugin>
