<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.csd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Writes AnIML Chromatograms."
            exportConverter="net.openchrom.csd.converter.supplier.animl.converter.ChromatogramExportConverter"
            fileExtension=".animl"
            filterName="AnIML Chromatogram (*.animl)"
            id="net.openchrom.csd.converter.supplier.animl"
            importConverter="net.openchrom.csd.converter.supplier.animl.converter.ChromatogramImportConverter"
            importMagicNumberMatcher="net.openchrom.csd.converter.supplier.animl.converter.MagicNumberMatcher"
            isExportable="true"
            isImportable="true">
      </ChromatogramSupplier>
   </extension>

</plugin>
