<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.csd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Reads ANDI/AIA CDF Chromatograms."
            exportConverter="net.openchrom.csd.converter.supplier.cdf.converter.CDFChromatogramExportConverter"
            fileExtension=".CDF"
            filterName="ANDI/AIA CDF Chromatogram (*.CDF)"
            id="net.openchrom.csd.converter.supplier.cdf"
            importConverter="net.openchrom.csd.converter.supplier.cdf.converter.CDFChromatogramImportConverter"
            isExportable="false"
            isImportable="true">
      </ChromatogramSupplier>
   </extension>

</plugin>
